<section style="padding-top: 20px;">
  <div class="row">
    <img *ngFor = "let url of imageUrls" [src]="url" width="320" height="300">
  </div><br>
  <div class="row" style="background-color: rgb(0, 0, 61);">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" style="color:white;">
      <div class="col-sm-3">
        <h4>360 Travel Me</h4>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
      <div class="col-sm-3">
        <h4>Explore More</h4>
        <ul style="padding-left: 0px;">
          <li><a href="#">Home</a></li>
          <li><a href="#">Flight</a></li>
          <li><a href="#">Promotions</a></li>
          <li><a href="#">Destinations</a></li>
          <li><a href="#">Holidays</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h4>Get in Touch</h4>
        <p>1313 ABC, SNsheim, San Francisco, Callifornia, USA</p> 
        <p>+23 511 165 456</p>
        <p>info@360travelme.com</p>
        <span>
          <i class="fa fa-facebook-square fa-2x"></i> &nbsp; 
          <i class="fa fa-instagram fa-2x"></i> &nbsp;
          <i class="fa fa-youtube fa-2x"></i> &nbsp;
          <i class="fa fa-twitter fa-2x"></i>
        </span>
      </div>
      <div class="col-sm-3">
        <h4>We Support</h4>
        <span>
          <i class="fa fa-cc-paypal fa-3x"></i> &nbsp; 
          <i class="fa fa-cc-visa fa-3x"></i> &nbsp;
          <i class="fa fa-cc-mastercard fa-3x"></i> &nbsp;
          <i class="fa fa-cc-amex fa-3x"></i>
        </span>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</section>
